[MASTER]
disable = C0330, W0511

[DESIGN]
# Maximum number of arguments for function / method.
max-args=10

# Minimum number of public methods for a class (see R0903).
min-public-methods=1

# Maximum number of instance attributes
max-attributes=12
